extends layout

mixin ct(name, ipv4, ram, swap, status)
    td.name #{name}
    td.name #{ipv4}
    td.ram #{ram}
    td.storage #{swap}
    td.switch
        label Off
            input(type="checkbox")
            span.lever
        | On
    td.status(onclick="location.href = '/dashboard/ct/" + name + "';")
        case status
            when "RUNNING"
                a.btn-flat.green.non-clickable #{status}
            when "STOPPED"
                a.btn-flat.red.non-clickable #{status}
            when "FROZEN"
                a.btn-flat.gray.non-clickable #{status}
            default
                a.btn-flat.orange.non-clickable #{status}

    td.action
        a.waves-effect.waves-light.btn-small.light-blue(onclick="change_vm_status('" + name + "', 'start')")
            i.material-icons play_arrow
        a.waves-effect.waves-light.btn-small.amber(onclick="change_vm_status('" + name + "', 'reboot')")
            i.material-icons replay
        a.waves-effect.waves-light.btn-small.orange(onclick="change_vm_status('" + name + "', 'shutdown')")
            i.material-icons stop
        a.waves-effect.waves-light.btn-small.red(onclick="change_vm_status('" + name + "', 'force-shutdown')")
            i.material-icons power
        a.waves-effect.waves-light.btn-small.pink.darken-1(onclick="open_console('" + name + "')")
            i.material-icons airplay <!--open_in_browser personal_video open_in_new picture_in_picture??-->
        a.waves-effect.waves-light.btn-small.grey.darken-4(onclick="open_delete_modal('" + name + "')")
            i.material-icons delete

block content

    #modalCreateCt.modal
        .modal-content
            form.col.s12
                h4 Create a new Container
                .row
                    .col.s12
                        .input-field
                            input#ctname.validate(type="text")
                            label(for="ctname") Name

                        .input-field.col.s12
                            select#templateSelect
                                option(value="" disabled selected) Select a template
                                -var templates = []
                                -var lastDist = ""
                                each template in data.templates
                                    if(lastDist !== template.dist)
                                        -lastDist = template.dist
                                        -templates.push([])
                                        -templates[templates.length-1].push(template)
                                    else
                                        -templates[templates.length-1].push(template)

                                each group in templates
                                    optgroup(label= group[0].dist)
                                        each temp in group
                                            -var tempId = temp.dist + '-' + temp.release
                                            -var dist = temp.dist[0].toUpperCase() + temp.dist.substring(1);
                                            -var release = temp.release[0].toUpperCase() + temp.release.substring(1);
                                            option(value= tempId) #{dist} #{release}
                            label Template
        .modal-footer
            a.modalBtn.modal-action.waves-effect.waves-green.btn(href="#!" onclick="create_ct()") Create
            a.modal-action.modal-close.waves-effect.waves-red.btn.red(href="#!") Cancel

    include header-nav

    main
        .fixed-action-btn
            a.btn-floating.btn-large.green.modal-trigger(href="#modalCreateCt")
                i.large.material-icons add
            ul
                li: a.btn-floating.yellow.darken-1.modal-trigger(href="#modalCreateCt"): i.material-icons content_copy

        include sidebar

        h3 LXC
        -var emptyList = false
        .table-container
            table.centered.highlight
                thead
                    tr
                        th Name
                        th IP
                        th Ram
                        th Swap
                        th Autostart
                        th Status
                        th Actions
                tbody
                    if (!data.containers || data.containers.length < 1)
                        -emptyList = true
                    else
                        each ct in data.containers
                            tr: +ct(ct.name, ct.ipv4, ct.ram, ct.swap, ct.state)

        if emptyList
            p.center Empty list

    include main_scripts
    script(src="/javascripts/initMaterialize.js")
    script(src="/javascripts/api_calls/req_config.js")
    script(src="/javascripts/api_calls/token_manager.js")
    script(src="/javascripts/api_calls/api_req.js")
