extends layout

mixin vol(name, allocation, capacity)
    -progress = (allocation / capacity)*100
    td #{name}
    td.hide-on-small-only: .progress: .determinate(style="width: "+ progress +"%")
    td.storage #{allocation} / #{capacity}
    td
        a.waves-effect.waves-light.btn-small.vol-del-btn.red(onclick="open_detach_vol_modal('" + name + "')")
            i.material-icons eject
        a.waves-effect.waves-light.btn-small.vol-del-btn.grey.darken-4(onclick="open_delete_vol_modal('" + name + "')")
            i.material-icons delete


block content
    include header-nav
    include sidebar

    main
        .row
            .col.s12
                .card.grey.lighten-4.z-depth-2
                    .card-content
                        span.card-title.vm-title.center= data.domain.name
                        .row
                        .divider
                        .row
                        .row
                        .row
                            .col.s4.center-align.darken-1.vm-spec
                                i.material-icons.medium.blue-grey-text.text-darken-4 memory
                                h5 vCPU: #{data.domain.vcpus}
                            .col.s4.center-align.darken-1.vm-spec
                                i.material-icons.medium.blue-grey-text.text-darken-4 select_all
                                h5 RAM: #{data.domain.memory / 1048576} GB
                            .col.s4.center-align.darken-1.vm-spec
                                i.material-icons.medium.blue-grey-text.text-darken-4 slow_motion_video
                                h5 CPU TIME #{data.domain.cpuTime }%
        .row
            .col.s12
                .card.grey.lighten-4.z-depth-2
                    .card-content
                        span.card-title
                            i.material-icons.small storage
                            |  Volumes
                        .row
                        .divider
                            a.btn-floating.halfway-fab.waves-effect.waves-light.green(onclick="open_delete_modal('" + name + "')")
                                i.material-icons link
                        table.centered
                            thead
                                tr
                                    th.vol-name Volume Name
                                    th.vol-bar.hide-on-small-only
                                    th.vol-alloc Allocated/Capacity
                                    th.vol-del Actions
                            tbody
                                each vol in data.domain.volumes
                                    tr: +vol(vol.name, vol.allocation / 1048576, vol.capacity / 1048576)
        .row
            .col.s12
                .card.grey.lighten-4.z-depth-2
                    .card-content
                        span.card-title
                            i.material-icons.small donut_small
                            |  ISO image
                        -if(data.domain.iso)
                            a.btn-flat.green.non-clickable.right.cd-status Attached
                        -else
                            a.btn-flat.red.non-clickable.right.cd-status Detached
                        .row
                        .divider
                        .row
                        .row
                            .input-field.col.s12
                                select
                                    option(value="" disabled selected) Choose a ISO to mount
                                    each iso in data.isos
                                        option(value="1")= iso
                                label Select a image and press Apply
                    .card-action
                        a.waves-effect.waves-green.btn(href="#!") Apply / Attach
                        a.waves-effect.waves-red.btn.red.right(href="#!") Detach


    include main_scripts
    script(src="/javascripts/initMaterialize.js")
    script(src="/javascripts/api_calls/req_config.js")
    script(src="/javascripts/api_calls/token_manager.js")
    script(src="/javascripts/api_calls/api_req.js")
